{% extends 'base.html' %}
{% block title %}
Say Hi!
{% endblock %}

{% block content %}
<body class="text-left">
    <div class="container">
        <form  method="POST"  class="form-register" style="color:white"  onsubmit="message()">


            <h1 class="h3 mb-3 font-weight-normal">
                Sample Page
            </h1>
            <br>
            <label for="ipaddr">Say Hi:</label>
            <br>
            <input class="btn btn-primary" type="submit" value="Submit" id="submit_btn">
            <br>
        </form>
    </div>

    
<script>
    function message() {
        alert("Hello !");
    }
    
</script>

</body>

{% endblock %}

